.main-header
{
    width: 100vw;
    height: 40px;
    
    position: fixed;
    top: 0;
    
    background-color: beige;
}

.main-body
{
    margin-top: 40px;
}

.main-header__navbar
{
    display: flex;
    flex-direction: row;
    
    padding: 5px;
    
    gap: 10px;
}

.main-header__nav-button
{
    width: 120px;
    height: 28px;
}



@media (max-width: 768px)
{
    .main-header
    {
        top: initial;
        bottom: 0;
    }

    .main-body
    {
        margin-top: 0;
    }

    .main-header__navbar
    {
        justify-content: center;
        align-items: center;
    }
}