.global-event-body
{
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.live-event
{
    width: 90%;
    border: 1px solid black;
    padding: 20px;
}

.upcomming-event
{
    width: 90%;
    border: 1px solid black;
    padding: 20px;
}

.live-event__event
{
    width: 100%;

    display: flex;
    flex-direction: row;

    border: 1px solid gray;
}

.live-event__left
{
    width: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.live-event__right
{
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 5px;
}

.upcomming-event__event
{
    width: 100%;

    display: flex;
    flex-direction: row;

    border: 1px solid gray;
}


.live-event__join-button
{
    width: 90%;
    height: 25px;
}

.upcomming-event__inscription-button, 
.upcomming-event__edit-button
{
    width: 90%;
    height: 25px;
}
.upcomming-event__left
{
    width: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.upcomming-event__right 
{
    width: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 5px;
}
