@page "/GlobalEvent"
@inherits GlobalEventBase
@rendermode InteractiveWebAssembly

<PageTitle>GlobalEvent</PageTitle>

<div class="global-event-body">

    <div class="live-event">

        <h2>Event live</h2>

        <div class="live-event__event-container">

            @foreach(var evt in Events)
            {
                if (IsLiveEvent(evt))
                {
                    <button class="live-event__event" @onpointerup="() => NavigateToSingleEventPage(evt.Id)">
                        <button class="live-event__join-button" @onpointerup="() => NavigateToSingleEventPage(evt.Id)">Join</button>
                    </button>
                }
            }

        </div>

    </div>

    <div class="upcomming-event">

        <h2>Evenements à venir</h2>
        
        @foreach(var evt in Events)
        {
            if (!IsLiveEvent(evt))
            {
                <button class="upcomming-event__event" @onpointerup="() => NavigateToSingleEventPage(evt.Id)">
            
                    <div class="upcomming-event__left">
                
                    </div>
            
                    <div class="upcomming-event__right">
                        
                        <button class="upcomming-event__inscription-button"
                                @onpointerup="() => { }"
                                @onpointerup:stopPropagation="true">
                            Inscription
                        </button>
                        
                        <button class="upcomming-event__edit-button"
                                @onpointerup="() => NavigateToSingleEventPage(evt.Id)"
                                @onpointerup:stopPropagation="true">
                            Edit
                        </button>
                        
                    </div>
            
                </button>
            }
        }

    </div>

</div>