@page "/GlobalEvent"
@inherits GlobalEventBase

<PageTitle>GlobalEvent</PageTitle>

<div class="global-event-body">

    <div class="live-event">

        <h2>Event live</h2>

        <div class="live-event__event-container">

            <div class="live-event__event">
                <button class="live-event__join-button"></button>
            </div>

            <div class="live-event__event">
                <button class="live-event__join-button"></button>
            </div>

            <div class="live-event__event">
                <button class="live-event__join-button"></button>
            </div>

            <div class="live-event__event">
                <button class="live-event__join-button"></button>
            </div>

        </div>

    </div>

    <div class="upcomming-event">

        <h2>Evenements à venir</h2>

        <div class="upcomming-event__event">
            
            <div class="upcomming-event__left">
                
            </div>
            
            <div class="upcomming-event__right">
                <button class="upcomming-event__inscription-button"></button>
                <button class="upcomming-event__edit-button"></button>
            </div>
            
        </div>

        <div class="upcomming-event__event">
            
            <div class="upcomming-event__left">
                
            </div>
            
            <div class="upcomming-event__right">
                <button class="upcomming-event__inscription-button"></button>
                <button class="upcomming-event__edit-button"></button>
            </div>
            
        </div>
        
        <div class="upcomming-event__event">
            
            <div class="upcomming-event__left">
                
            </div>
            
            <div class="upcomming-event__right">
                <button class="upcomming-event__inscription-button"></button>
                <button class="upcomming-event__edit-button"></button>
            </div>
            
        </div>
        
        <div class="upcomming-event__event">
            
            <div class="upcomming-event__left">
                
            </div>
            
            <div class="upcomming-event__right">
                <button class="upcomming-event__inscription-button"></button>
                <button class="upcomming-event__edit-button"></button>
            </div>
            
        </div>

    </div>

</div>